<h1>New Student</h1>
<%= form_for :student, url:students_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :number, 'Student ID' %><br>
    <%= form.text_field :number %>
  </p>
  <p>
    <%= form.label :phoneNumber, 'Phone Number' %><br>
    <%= form.text_field :phoneNumber %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit 'Create' %>
  </p>
<% end %>

<p>
  <%= link_to 'View Students', students_path %>
</p>

<p>
  <a href="/" >Home</a>
</p>