<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Course Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Credit Hours</strong>
  <%= @course.creditHours %>
</p>

<p>
  <%= link_to 'Edit', courses_path %>
</p>

<p>
  <%= link_to 'View Courses', courses_path %>
</p>